.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
body {
  background-color: #136d58;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav ul li {
  font-size: 16px;
  margin-left: 50px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
}

h4 {
  color: white;
  margin-top: -1px;
}

.sign {
  width: 90px;
  height: 40px;
  background-color: #136d58;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
}

.demo {
  width: 115px;
  height: 40px;
  background-color: white;
  color: #136d58;
  border: none;
  border-radius: 20px;
}

.second ul {
  margin-top: -110px;
}

h1 {
  color: white;
  font-size: 44px;
}

.container {
  width: 400px;
  margin-left: 35px;
}

p {
  width: 450px;
  color: white;
}

.explore {
  width: 150px;
  height: 40px;
  background-color: #136d58;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 10px;
}

img {
  margin-left: 750px;
  margin-top: -370px;
  height: 550px;
}

.card {
  height: 100px;
  width: 350px;
  border-radius: 20px;
  background: linear-gradient(#add8e6, #ffc0cb, #ffe5b4);
  margin-left: 830px;
  margin-top: -340px;
  transform: skew(0deg, 15deg);
}
 .radio{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
 }

 h2{
    margin-top: -40px;
    margin-left: 90px;
 }

 .pay{
    height: 30px;
    background-color: #ffc0cb;
    border: 1px solid black;
    margin-left: 130px;
    margin-top: -130px;
 }
 span{
    font-size: 16px;
 }

 @media (max-width: 768px){
    img{
        margin-top: -350px;
        margin-left: 530px;
    }
    .nav{
        padding: 20px;
    }
    .sign {
    margin-left: 200px;
    }
    .card{
        margin-left: 600px;
    }
 }